.rc_box1,.rc_box2,.rc_box3{
	display:inline-block;
	*display:inline;
	*zoom:1;
	position:relative;
	border-style:solid;
	border-color:#bbb;

}
.rc_box2{
	border-width:0 1px;
	background-color:#f3f3f3;

}
.rc_box1{
	border-width:1px;
	box-shadow: 0px 0px 5px rgb(65, 32, 13);

}
.rc_box2{margin:0 -2px;}
.rc_box3{
	margin:1px -2px;
}
.ov1,.ov2{
	position:absolute;
	left:44%;
	overflow:hidden;
	width:0;
	height:0;
	border-left:6px dotted transparent;
	border-right:6px dotted transparent;
	border-bottom:6px solid transparent;
}
.ov1{bottom:34px;border-bottom-color:#bbb;}
.ov2{bottom:33px;border-bottom-color:#f3f3f3;}
#box{
	z-index:1999;
	width:200px;
	height:0px;
	POSITION: relative; 
	left:480px;
	top:9px;
	vertical-align: middle;	
	zoom: 1;
}
#box_other{
	z-index:1999;
	height:0px;
	width:200px;
	POSITION: relative; 
	left:430px;
	top:10px;
	vertical-align: middle;	
	zoom: 1;
}
#box span img{
	text-align:center;
}