.droplinebar{
	overflow: hidden;
	height: 38px;
	background-image: url(images/navbar.gif);
	background-repeat: no-repeat;
}

.droplinebar ul{
margin: 0 auto;
padding: 0;
width: 92%;
font: 15px Georgia;
background: center center repeat-x; 
height: 38px;
}

.droplinebar ul li{
display: inline;
}

.droplinebar ul li a{
float: left;
color: white;
padding: 10px 40px;
text-decoration: none;
}

.droplinebar ul li a:visited{
color: white;
}

.droplinebar ul li a:hover, .droplinebar ul li .current{ 
color: white;
background: transparent url(../images/navhover.gif) center center repeat-x;
}


.droplinebar ul li ul{
position: absolute;
z-index: 100;
left: 0;
top: 0;
background: url(../images/navhoverblack.png);
visibility: hidden;
}


.droplinebar ul li ul li a{
font: normal 15px Georgia;
padding: 10px;
padding-right: 20px;
margin-left: 20px;
}

.droplinebar ul li ul li a:hover{
background: transparent url(../images/navhover.gif) center center repeat-x;
}
